{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>Plano</title>
</head>
<body>
    <center>
    <h1>Plano</h1>
        <table>
        <thead>
            <tr>
                <th>Plano</th>
                <th>Preco</th>
                <th>Vendas</th>
            </tr>
            <tbody>
                    <tr>
                        <td>{{ plano.nome }}</a></td>
                        <td>{{ plano.preco }}</td>
                        <td>{{ plano.vendas }}</td>
                    </tr>
            </tbody>
        </thead>
    </table>
</center>
</body>
</html>